p {
  	color: red;
}

body {
	color: purple;
	background-color: #d8da3d 
}

middle_place {
	width: 90%;
	height: 600px;
	border-color: beige;
	border-width: 3px;
	border-style: dashed;

}

test_item{
	border-color: chartreuse;
	border-width: 3px;
	border-style: dashed;
	widows: 10%;
	height: 300px;
}